main {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

nav {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    color: blue;
}

nav a:visited {
    color: blue;
}

footer {
    font-size: 0.8em;
    margin-top: 1em;
}

.link-meta {
    font-size: 0.8em;
}

article h2 {
    margin-bottom: 0.2em;
}

.article-meta {
    font-size: 0.8em;
    background-color: #fafafa;
    padding: 0.2em;
}

.book-meta {
    font-size: 0.8em;
}

.project {
    margin-bottom: 0.2em;
}

.project-meta {
    font-size: 0.8em;
    background-color: #fafafa;
    padding: 0.2em;
}

.warning {
    padding: 1em;
    margin: 0.5em;
    background-color: #fefefe;
    border: 1px solid #F5A9A9;
    font-size: 1em;
}
